.modal {
  font-size: 12px;
  border-radius: 8px;
  max-height: 80vh;
  overflow-x: hidden;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px 7px;
  line-height: 20px;
  right: 5px;
  top: -30px;
  font-size: 24px;
  color: white;
  background: rgba(211, 211, 211, 0.22);
  border-radius: 5px;
}
.popup-content {
  background: none;
  border: none;
  width: 90%;
  height: auto;
}
