.modal {
  font-size: 12px;
  border-radius: 8px;
  overflow-y: auto !important;
  overflow-x: hidden;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px 7px;
  line-height: 20px;
  right: -1px;
  top: 29px;
  font-size: 24px;
  color: white;
  background: #cfcece38;
  border-radius: 5px;
}
.popup-content {
  background: none;
  border: none;
  border-radius: 10px;
  width: 90%;
}

@media (min-width: '500px') {
  .popup-content {
    width: auto;
    border-radius: 10px !important;
  }
}
